{erl_opts, [debug_info]}.

{deps, [
    hackney,
    jsx
]}.

{dialyzer, [
    {warnings, [
        error_handling,
        no_unknown
    ]}
]}.

{plugins, [
    {rebar3_grisp, {git, "git@github.com:grisp/rebar3_grisp", {branch, "master"}}}
]}.

{profiles, [
    {test, [
        {deps, [
            meck,
            {grisp_manager, {git, "git@github.com:stritzinger/grisp_manager", {branch, "main"}}}
        ]},
        {overrides, [
            {add, eresu, [{erl_opts, [{d, 'TEST'}]}]}
        ]}
    ]}
]}.
