{erl_opts, [debug_info]}.

{deps, [
    hackney,
    jsx
]}.

{dialyzer, [
    {warnings, [
        error_handling,
        no_unknown
    ]}
]}.

{plugins, [
    {rebar3_grisp, "~> 2.8"},
    rebar3_ex_doc
]}.

{profiles, [
    {test, [
        {deps, [
            meck,
            {grisp_manager, {git, "git@github.com:stritzinger/grisp_manager", {branch, "main"}}}
        ]},
        {overrides, [
            {add, eresu, [{erl_opts, [{d, 'TEST'}]}]}
        ]}
    ]}
]}.

{hex, [{doc, ex_doc}]}.

{ex_doc, [
    {extras, [
          {"CHANGELOG.md", #{title => "Changelog"}},
          {"README.md", #{title => "Overview"}},
          {"LICENSE", #{title => "License"}}
    ]},
    {main, "README.md"},
    {homepage_url, "https://github.com/grisp/rebar3_grisp_io"},
    {source_url, "https://github.com/grisp/rebar3_grisp_io"}
]}.
